<script type="text/x-handlebars-template" id="mapsvg-data-tmpl-colorpicker-view">
   <div class="form-group mb-3 row">
        <label class="col-sm-3 col-form-label with-name">{{label}} <div class="field-name">{{_name}}</div></label>
        <div class="col-sm-9">
            <div class="input-group cpicker colorpicker-element">
                <span class="input-group-text"><i></i></span>
                <input type="text" name="{{name}}" class="form-control cpicker" value="{{value}}" />
            </div>
            <p class="form-text">{{help}}</p>
        </div>
    </div>
</script>