<script type="text/x-handlebars-template" id="mapsvg-data-tmpl-location-view">
    <div class="form-group mb-3 row mapsvg-new-marker-form"> <label class="col-sm-3 col-form-label
  {{#if external.showNames}}with-name{{/if}}">{{label}}
  <div class="field-name">{{_name}}</div></label> <div class="col-sm-9"> <p class="form-text"
  style="margin-top: 0;"><em>Click on the map to add a marker</em></p> <div class="input-group
  mapsvg-new-marker" style="display: none;"> <div class="input-group-btn"> <button class="btn
  btn-outline-secondary mapsvg-marker-image-btn-trigger mapsvg-marker-image-btn" data-marker-id="{{id}}"><img
  src="{{markerImagePath}}" class="new-marker-img"/> <span class="caret"></span></button> </div>
  <input type="text" disabled="disabled" class="form-control mapsvg-marker-id"
  placeholder="marker_id" name="marker_id"/> <div class="input-group-btn"> <button class="btn
  btn-outline-secondary mapsvg-marker-delete"><i class="bi bi-trash"></i></button> </div> </div>
  {{#unless editMode}}
    <div class="mapsvg-marker-image-selector"> <div class="mapsvg-marker-images"></div>
    {{premiumFeatureAlert "Upload a custom marker image"}}
    </div>
  {{/unless}}
  </div> </div>
</script>
