<script type="text/x-handlebars-template" id="mapsvg-data-tmpl-textarea-view">
 <div class="form-group mb-3 row">
        <label class="col-sm-3 col-form-label with-name">{{label}} <div class="field-name">{{_name}}</div></label>
        <div class="col-sm-9">
            <textarea name="{{name}}" class="form-control" rows="8">{{value}}</textarea>
            <p class="form-text">{{help}}</p>
        </div>
    </div>

</script>