<script type="text/x-handlebars-template" id="mapsvg-data-tmpl-date-view">

  <div class="form-group mb-3 row"> <label class="col-sm-3 col-form-label with-name">{{label}}
  <div class="field-name">{{_name}}</div></label> <div class="col-sm-9"> <div class="input-group
  date" data-provide="datepicker" data-date-language="{{language}}" data-date-autoclose="true"
  data-date-today-highlight="true"> <input type="text" name="{{name}}" class="form-control" value="{{value}}"
  /> <div class="input-group-text"> <i class="bi bi-calendar"></i> </div> </div> <p
  class="form-text">{{help}}</p> </div> </div>
</script>